@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="victory">@Winner is the winner!</div>
</root>

@code
{
	[Property] SpleefManager Manager { get; set; }
	private string Winner => Manager.Winner;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Winner);
}